.border {
    border: 5px solid black;
}

.flex {
    display: flex;
}

body {
display: flex;
height: 775px;
width: 775px;
flex-wrap: wrap;
justify-content: center;
}


.box {
    display: flex;
    justify-content: center;
    align-content: center;
    width:  100px;
    height: 100px;
    color: black;
    font-size: 60px;
    margin: 5px;
    padding: 20px;
    border-style: solid;
}

.clear {
    background-color: lightgreen;
}

.seven {
    background-color: green;
    width: 413px; 
}   

.eight {
    background-color: green;
}

.nine {
    background-color: green;
}

.divide {
    background-color: lightgreen;
}

.four {
    background-color: green;
}

.five {
    background-color: green;
}

.six {
    background-color: green;
}

.multiply {
    background-color: lightgreen;
}

.one {
    background-color: green;
}

.two {
    background-color: green;
}

.three {
    background-color: green;
}

.subtract {
    background-color: lightgreen;
}

.zero {
    background-color: green;
}

.decimal {
    background-color: lightgreen;
}

.equal {
    background-color: lightgreen;
}

.add {
    background-color: lightgreen;
}

.result {
    background-color: green;
}

